.post-it-front {
    width: 15vw;
    height: 30vh;
    border: 0.25px solid black;
    z-index: 4;
    overflow: clip;
}

.post-it-front:hover {
    animation: hoverExpand 0.25s ease-out forwards;
    z-index: 5;
    cursor: pointer;
}

@keyframes hoverExpand {
    from {scale: 1;}
    to {scale: 1.25;}
}