#root {
  position: absolute;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100vw;
  height: 155vh;
  background-color: rgb(246, 211, 164);
}

#fridge {
  width: 65vw;
  height: 140vh;
  border: 2.5px solid black;
  background-color: rgb(248, 242, 242);
}

#fridge-gap {
  position: absolute;
  width: 2.5px;
  height: 114vh;
  left: calc(50vw - 2.5px);
  background-color: black;
}

.cabinet {
  width: 17.5vw;
  height: 45vh;
  background-color:rgb(229, 241, 208);
}

.cabinet-rim {
  width: 100%;
  height: 5%;
  background-color: rgb(187, 209, 154);
  border: 1px solid rgb(169, 143, 109)
}

.arm {
  position: absolute;
  background-color: black;
  border: 1px solid silver;
}

#left-fridge-arm {
  width: 15px;
  height: 94vh;
  left: calc(45vw + 7.5px);
  top: calc(24vh + 6px);
}

#right-fridge-arm {
  width: 15px;
  height: 94vh;
  right: calc(45vw + 7.5px);
  top: calc(24vh + 6px);
}

.arm-block {
  position: absolute;
  width: 1.25vw;
  height: 2.5vh;
  background-color: black;
  border: 1px solid silver;
}

#left-top-fridge {
  top: 24vh;
  left: 45vw;
}

#right-top-fridge {
  top: 24vh;
  right: 45vw;
}